
*{
    box-sizing: border-box;
}

body{
    color: #ffffff;
    background: radial-gradient(circle at 50% 10%, hsl(214, 47%, 23%),
    hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', sans-serif;
    min-height: 100vh;
}

.container{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

header{
    position: relative;
    right: 50px;
    border: 3px solid hsl(217, 16%, 45%);
    display: flex;
    height: 150px;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin-top: 0;
    margin-bottom: 50px;
}

h1{
    margin: 10px;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    line-height: 0.8;
    text-transform: uppercase;
}

h4{
    font-size: 16px;
    color: hsl(229, 64%, 46%);
    margin: 0;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.score_container{
width: 150px;
height: 114px;
background-color: #ffffff;
border-radius: 10px;
text-align: center;
padding: 20px 40px;
}

.score_container p{
line-height: 0.9;
color: hsl(229, 25%, 31%);
font-size: 64px;
font-weight: 700;
margin: 0;
}

main {
    width: 500px;
    position: relative;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

main::before{
    background-image: url('images/bg-triangle.svg');
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: -1;
    height: 70%;
    width: 70%;
}

.game_card {
    margin: 0 25px;
    border: none;
    width: 198px;
    height: 203px;
    border-radius: 50%;
    box-shadow: inset 0 -5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.game_card .wrapper {
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    box-shadow: inset 0 5px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
    height: 152px;
    width: 152px;
}

h2{
    margin-bottom: 100px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.paper_btn{
    background: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.scissors_btn{
    background: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

.rock_btn {
    background: linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.rules_btn {
    width: 128px;
    height: 40px;
    border: 2px solid hsl(217, 16%, 45%);
    position: absolute;
    right: 20px;
    bottom: -20px;
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, #ffffff 50%);
    background-position: right bottom;
    letter-spacing: 2px;
    border-radius: 10px;
    background-size: 250% 100%;
    background-color: transparent;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    text-transform: uppercase;
}

.rules_btn:hover{
    background-color: #ffffff;
    background-position: left bottom;
    color: hsl(214, 47%, 23%);
}

.reset_btn {
    width: 220px;
    height: 48px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    color: hsl(229, 25%, 31%);
    font-family: inherit;
    padding: 10px 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}

.reset_btn:hover{
    color: #DB2E4D;
}


.adjust {
    margin-top: 100px;
}

.selection {
    position: relative;
    margin: 0 auto;
    width: 900px;
    max-width: 100%;
    position: relative;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.grade{
    font-size: 56px;
    margin: 0 0 20px;
    line-height: 0.8;
    text-transform: uppercase;
}


.selection .game_card{
transform: scale(1.4);
}


.rules_modal {
    background-color: #f0f0f0;
    position: fixed;
    align-items: center;
    justify-content: center;
    display: none;
    flex-direction: column;
    top: 180px;
    left: 420px;
    width: 30vw;
    height: 60vh;
    z-index: 100;
}

#close {
    position: absolute;
    width: 19.09px;
    top: -80px;
    right: 30px;
}

.rules_modal button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-top: 100px;
    transform: scale(1.4);
}

.rules_title {
    color: hsl(229, 25%, 31%);
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0px;
    text-transform: uppercase;
    position: relative;
    left: -120px;
    top: -20px;
}

@media screen and (max-width: 450px){
body {
    
}


.game_card{
        width: 130px;
        height: 133px;
    }

    .game_card .wrapper{
        width: 99.31px;
        height: 94.1px;
    }

    .container {
        position: relative;
        bottom: -200px;
        height: 800px;
    }

    header {
        border-radius: 0%;
        position: absolute;
        left: 40px;
        width: 311px;
        height: 96px;
    }

    .score_container{
        font-size: 40px;
        width: 80px;
        height: 72px;
    }

    h1 {
        position: relative;
        top: -10px;
        left: -10px;
        width: 83px;
        height: 48px;
        font-size: 28px;
    }

    h4{
        position: relative;
        top: -5px;
        left: -18px;
        font-size: 10px;
    }

    #score_number {
        font-size: 40px;
        position: relative;
        left: -8px;
        top: -7px;
    }

    main {
        position: relative;
        bottom: -200px;
        width: 400px;
        height: 350px;
    }

    main:before {
        top: 20%;
        left: 25%;
        width: 50%;
        height: 50%;
    }

    .selection{
        flex-wrap: nowrap;
        top: -550px;
        width: 400px;
        height: 400px;
        position: relative;
        right: -13px;
    }


    h2 {
        position: relative;
        bottom: -280px;
        font-size: 15px;
    }

    .grade {
        position: relative;
        top: -50px;
    }

    .reset_btn{
        position: relative;
        top: -40px;
    }

    .rules_btn{
        right: 45px;
        }


    .selection .game_card{
    transform: scale(1);
    }

    .adjust{
    position: relative;
    bottom: -300px;
    left: -290px;
    order: 1;
    }

    .rules_modal {
        width: 79vh;
        height: 100vh;
        left: 0;
        top: 0;
    }

    .rules_title {
        position: relative;
        left: 8px;
        top: -80px;
    }

    #close {
        position: absolute;
        bottom: -400px;
        left: 190px;
    }

}


